html,body {
    background-color: #834;
}
.clr:before, .clr:after { content: ""; display: table; }
.clr:after { clear: both; }
.clr { zoom: 1; }








@-webkit-keyframes side-bar-scaleDown {
    to {
        opacity:0;
        -webkit-transform:scale(.8);

    }
}
@-moz-keyframes side-bar-scaleDown {
    to {
        opacity:0;
        -moz-transform:scale(.8);
    }
}
@keyframes side-bar-scaleDown {
    to {
        opacity:0;
        transform:scale(.8);
    }
}

.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 35px;
    height: 100%;
    background-color: #fff;
    z-index: 999999;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop));
}


/*tab*/
.side-bar .side-bar-tabs {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    _width: 38px;
    height: 100%;
    z-index: 99999;
    background: #e9d08e url(http://gtms01.alicdn.com/tps/i1/T1_NHnFkFaXXXOZ0.f-283-878.png) no-repeat -247px 0px;
}
.side-bar .side-bar-tabs .tab-taobao-logo {
    position: absolute;
    top: 175px;
    left: 3px;
    width: 30px;
    height: 30px;
    background: url(http://gtms01.alicdn.com/tps/i1/T1_NHnFkFaXXXOZ0.f-283-878.png) no-repeat  no-repeat -80px -25px;
}
.side-bar .side-bar-tabs .tab-brand-logo {
    position: absolute;
    top: 207px;
    left: 3px;
    width: 30px;
    height: 30px;
    background: url(http://gtms01.alicdn.com/tps/i1/T1_NHnFkFaXXXOZ0.f-283-878.png) no-repeat  no-repeat -36px -25px;
    cursor: pointer;
}
.side-bar .side-bar-tabs .tab-brand-logo:hover {
    background: url(http://gtms01.alicdn.com/tps/i1/T1_NHnFkFaXXXOZ0.f-283-878.png) no-repeat  no-repeat  0 -26px;
}
.side-bar .side-bar-tabs .tab-me {
    position: absolute;
    top: 253px;
    left: 5px;
}
.side-bar .side-bar-tabs .tab-me .user-avatar {
    width: 26px;
    height: 26px;
    overflow: hidden;
    border-radius: 50%;
}
.side-bar .side-bar-tabs .side-bar-tab {
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 44px;
    cursor: pointer;
}
.side-bar .side-bar-tabs .side-bar-tab:hover {
    background-color: #936715;

}
.side-bar .side-bar-tabs .side-bar-tab.tab-sel {
    background-color: #936715;
}
.side-bar .side-bar-tabs .side-bar-tab-logo {
    position: absolute;
    top: 8px;
    left: 0;
    width: 36px;
    height: 18px;
    background: url(http://gtms01.alicdn.com/tps/i1/T1_NHnFkFaXXXOZ0.f-283-878.png) no-repeat;
}
.side-bar .side-bar-tabs .logo-top {
    background-position: -152px 0;
}
.side-bar .side-bar-tabs .side-bar-tab.top {
    top: 307px;
}
.side-bar .side-bar-tabs .side-bar-tab.lottery {
    top: 354px;
}
.side-bar .side-bar-tabs .side-bar-tab.attention {
    top: 407px;
}


.side-bar .side-bar-tabs .side-bar-tab:hover .logo-top,
.side-bar .side-bar-tabs .side-bar-tab.tab-sel .logo-top {
    background-position: -192px 0;
}
.side-bar .side-bar-tabs .logo-lottery {
    background-position: 0 0;
}
.side-bar .side-bar-tabs .side-bar-tab:hover .logo-lottery,
.side-bar .side-bar-tabs .side-bar-tab.tab-sel .logo-lottery {
    background-position: -38px 0;
}
.side-bar .side-bar-tabs .logo-attention {
    left: -2px;
    background-position: -75px 0;
}
.side-bar .side-bar-tabs .side-bar-tab:hover .logo-attention,
.side-bar .side-bar-tabs .side-bar-tab.tab-sel .logo-attention {
    background-position: -111px 0;
}

.side-bar .side-bar-tabs .side-bar-tab .side-bar-tab-text {
    position: absolute;
    top: 26px;
    left: 0;
    width: 36px;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}


/*contents*/
.side-bar .side-bar-contents {
    background-color: #fff;
    position: absolute;
    width: 235px;
    height: 100%;
    top: 0;
    left: -235px;
    z-index: 99998;
}

.side-bar .side-bar-contents .side-bar-con {
    position: absolute;
    width: 235px;
    height: 100%;
    background-color: #eeebe5;
    border-radius: 0 15px 0 0;
    z-index: 99997;
}
.side-bar .side-bar-contents .side-bar-con-hd .hd-title {
    display: block;
    padding: 19px 0 0 14px;
    margin: 0 0 12px 0;
    color: #885e11;
    font-size: 18px;
    font-family: 'Microsoft Yahei';
}
.side-bar .side-bar-contents .side-bar-con-hd .hd-cover {
    visibility: hidden;
    height: 9px;
    background: url(http://gtms01.alicdn.com/tps/i1/T1_NHnFkFaXXXOZ0.f-283-878.png) no-repeat 0 -93px;
}
.side-bar .side-bar-contents .side-bar-con-bd {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    _width: 273px;
}

/*头条*/
.side-bar .side-bar-contents .top .side-bar-con-bd {
    *position: relative;
}

.side-bar .side-bar-contents .side-bar-con-bd .top-list {
    margin-top: -8px;
    margin-bottom: 30px;
}
.side-bar .side-bar-contents .side-bar-con-bd .top-item {
    position: relative;
    margin: 23px auto 0;
    width: 200px;
    height: 240px;
    border: 1px solid #d4cfc5;
    text-align: center;
}
.side-bar .side-bar-contents .side-bar-con-bd .top-item .arrow {
    position: absolute;
    display: block;
    top: -24px;
    left: 91px;
    width: 18px;
    height: 23px;
    background: url(http://gtms01.alicdn.com/tps/i1/T1_NHnFkFaXXXOZ0.f-283-878.png) no-repeat 0 -200px;
}
.side-bar .side-bar-contents .side-bar-con-bd .top-item .top-img {
    display: block;
    width: 200px;
    height: 150px;
    overflow: hidden;
}
.side-bar .side-bar-contents .side-bar-con-bd .top-item .top-logo {
    display: block;
    width: 70px;
    height: 35px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 10px;
}
.side-bar .side-bar-contents .side-bar-con-bd .top-item .top-logo-text {
    color: #5c5754;
    font-size: 14px;
    font-family: 'Microsoft Yahei';
}
.side-bar .side-bar-contents .side-bar-con-bd .top-item .top-desc {
    margin: 0 auto;
    width: 180px;
    height: 18px;
    overflow: hidden;
    padding-top: 5px;
    color: #5c5754;
    font-size: 12px;
    font-family: 'Microsoft Yahei';
    border-top: 1px dotted #ccc;
}

/*抽奖*/
.side-bar .side-bar-contents .lottery .hd-title {
    margin-bottom: 0;
}
.side-bar .side-bar-contents .lottery .sub-title {
    margin-left: 14px;
    color: #74420b;
    font-size: 12px;
    font-family: 'Microsoft Yahei';
}
.side-bar .side-bar-contents .lottery .side-bar-con-hd {
    padding-bottom: 28px;
}
.side-bar .side-bar-contents .lottery .buy-for-lottery {
    position: relative;
    margin-left: 15px;
    width: 200px;
    height: 109px;
    background: url(http://gtms01.alicdn.com/tps/i1/T1_NHnFkFaXXXOZ0.f-283-878.png) no-repeat 0px -421px;
}
.side-bar .side-bar-contents .lottery .buy-for-lottery .buy-link {
    display: block;
    position: absolute;
    top: 63px;
    left: 15px;
    width: 114px;
    height: 30px;
}
.side-bar .side-bar-contents .lottery .do-lottery {
    position: relative;
    margin-left: 15px;
    width: 199px; 
    height: 106px; 
    background:url(http://gtms01.alicdn.com/tps/i1/T1_NHnFkFaXXXOZ0.f-283-878.png) no-repeat 0px -300px;
}
.side-bar .side-bar-contents .lottery .do-lottery .lottery-link {
    display: block;
    position: absolute;
    right: 0;
    width: 104px;
    height: 104px;
}
.side-bar .side-bar-contents .lottery .side-bar-con-bd {
    *position: relative;
}
.side-bar .side-bar-contents .lottery .side-bar-con-bd .lottery-title {
    margin: 30px 0 0 15px;
    color: #885e11;
    font-size: 14px;
    font-family: 'Microsoft Yahei';
}
.side-bar .side-bar-contents .lottery .side-bar-con-bd .award-list {
    margin: 15px 0 0 15px;
    width: 225px;
}
.side-bar .side-bar-contents .lottery .side-bar-con-bd .award-list .award-item {
    float: left;
    margin: 0 20px 8px 0;
    width: 90px;
}
.side-bar .side-bar-contents .lottery .side-bar-con-bd .award-list .award-img {
    position: relative;
    display: block;
    width: 90px;
    height: 80px;
    text-align: center;
    overflow: hidden;
}
.side-bar .side-bar-contents .lottery .side-bar-con-bd .award-list .award-name {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 90px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    background-color: #333;
    opacity: .5;
    filter: alpha(opacity=50);
    color: #fff;
    text-align: center;
}
.side-bar .side-bar-contents .lottery .side-bar-con-bd .award-list .award-desc {
    width: 90px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    text-align: center;
    color: #686461;
    font-family: 'Microsoft Yahei';
}
.side-bar .side-bar-contents .lottery .side-bar-con-bd .rule-title {
    margin: 25px 0 0 15px;
    color: #885e11;
    font-size: 14px;
    font-family: 'Microsoft Yahei';
}
.side-bar .side-bar-contents .lottery .side-bar-con-bd .rule-detail {
    background: #fff;
    margin: 20px 15px 0 15px;
    padding: 10px;
}
.side-bar .side-bar-contents .lottery .side-bar-con-bd .rule-detail p {
    margin-bottom: 28px;
    color: #686461;
}
.side-bar .side-bar-contents .lottery .side-bar-con-bd .rule-detail .more-link {
    float: right;
    margin-top: -8px;
    color: #686461;
}
.side-bar .side-bar-contents .lottery .side-bar-con-bd .rule-detail {
    margin-bottom: 30px;
}
/*关注*/
.side-bar .side-bar-contents .side-bar-con-bd .pp-attention-list {
    margin-left: 16px;
    width: 220px;
}
.side-bar .side-bar-contents .side-bar-con-bd .pp-attention-list .pp-attention-item {
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
}
.side-bar .side-bar-contents .side-bar-con-bd .pp-attention-list .pp-link:hover {
    text-decoration: none;
}
.side-bar .side-bar-contents .side-bar-con-bd .pp-attention-list .pp-img {
    width: 88px;
    height: 43px;
    line-height: 43px;
    border: 1px solid #fff;
    border-bottom: 1px dotted #d2cbbc; 
    background-color: #fff;
    text-align: center;
    overflow: hidden;
}
.side-bar .side-bar-contents .side-bar-con-bd .pp-attention-list .pp-link:hover .pp-img {
    border: 1px solid #ada595;
}
.side-bar .side-bar-contents .side-bar-con-bd .pp-attention-list .pp-img img {
    vertical-align: middle;
}
.side-bar .side-bar-contents .side-bar-con-bd .pp-attention-list .pp-desc {
    width: 90px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background-color: #d2cbbc;
    overflow: hidden;
}
.side-bar .side-bar-contents .side-bar-con-bd .pp-attention-list .pp-link:hover .pp-desc {
    background-color: #ada595;
}
.side-bar-con-scaleDown {
    -webkit-animation: side-bar-scaleDown .7s ease both;
    -moz-animation: side-bar-scaleDown .7s ease both;
    animation: side-bar-scaleDown .7s ease both;
}

.side-bar ::-webkit-scrollbar {
    width: 5px;
}

.side-bar ::-webkit-scrollbar-track {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: transparent;
}

.side-bar ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #e0dcd3;
}
