html,body {
    /*background-color: #9c0;*/
}
@-webkit-keyframes side-bar-scaleDown {
    to {
        opacity:0;
        -webkit-transform:scale(.8);
    }
}
@-moz-keyframes side-bar-scaleDown {
    to {
        opacity:0;
        -moz-transform:scale(.8);
    }
}
@keyframes side-bar-scaleDown {
    to {
        opacity:0;
        transform:scale(.8);
    }
}

.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 35px;
    height: 100%;
    background-color: #fff;
    z-index: 999999;
    _position: absolute;
    _height:800px;
}

.side-bar .side-bar-tabs {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 100%;
    z-index: 99999;
    background-color: #ccc;
}
.side-bar .side-bar-tabs .side-bar-tab {
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 50px;
    cursor: pointer;
}
.side-bar .side-bar-tabs .side-bar-tab:hover{
    background-color: #9c0;
    color: #fff;

}
.side-bar .side-bar-tabs .side-bar-tab.tab-sel{
    background-color: #9c0;
    color: #fff;
}
.side-bar .side-bar-tabs .side-bar-tab .side-bar-tab-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 26px;
}
.side-bar .side-bar-tabs .side-bar-tab .side-bar-tab-text {
    position: absolute;
    top: 30px;
    left: 0;
    width: 35px;
    text-align: center;
}


.side-bar .side-bar-contents {
    background-color: #fff;
    position: absolute; 
    width: 235px;
    height: 100%;
    top: 0;
    left: -235px;
    z-index: 99998;
}

.side-bar .side-bar-contents .side-bar-con {
    position: absolute;
    width: 235px;
    height: 100%;
    background-color: #f60;
    border-radius: 0 15px 0 0;
    overflow: auto;
    z-index: 99997;
}
.side-bar-con-scaleDown {
    -webkit-animation: side-bar-scaleDown .7s ease both;
    -moz-animation: side-bar-scaleDown .7s ease both;
    animation: side-bar-scaleDown .7s ease both;
}
.side-bar .side-bar-contents .side-bar-con div {
    padding: 0 10px;
}




.side-bar ::-webkit-scrollbar {
    width: 5px;
}

.side-bar ::-webkit-scrollbar-track {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: transparent;
}

.side-bar ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #cfbec4;
}


